
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

body {
  background: linear-gradient(135deg, #e0f7fa, #4ad2d6);
  color: #333;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 10px;
  overflow-x: hidden;
}


.no-scroll {
  height: 100vh;
  overflow: hidden;
}


body {
  overflow: auto;
}


.main-container {
  width: 90%;
  max-width: 1200px;
  background-color:#f0fdf4;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 100px auto; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}


button {
  padding: 10px 15px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  opacity: 0.9;
}


h2 {
  font-size: 1.8rem;
  font-weight: bold;
  text-align: center;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
}


.button-container {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}

.button-container button {
  flex: 1;
  padding: 8px 15px;
  margin: 10px;
  border-radius: 8px;
  font-size: 1rem;
  text-align: center;
}

/* Responsive general */
@media (max-width: 768px) {
  .main-container {
    width: 95%;
    padding: 20px;
  }

  .button-container {
    flex-direction: column;
    width: 95%;
    display: block;
    padding-top: 10px;
    margin-right: 20px;
  }

  .button-container button {
    width: 100%;
  }
}